USE [master]
GO
/****** Object:  Database [QuanLyCuaHang]    Script Date: 1/16/2019 11:26:32 PM ******/
CREATE DATABASE [QuanLyCuaHang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCuaHang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyCuaHang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCuaHang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanLyCuaHang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCuaHang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCuaHang]
GO
USE [QuanLyCuaHang]
GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 1/16/2019 11:26:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SoHoaDon] [int] NULL,
	[NgayGiaoDich] [date] NULL,
	[TenKhachHang] [ntext] NULL,
	[DiaChi] [ntext] NULL,
	[Sdt] [text] NULL,
	[MaHangHoa] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
	[Giam] [int] NULL,
	[ThanhTien] [int] NULL,
	[TenHangHoa] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 1/16/2019 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Loai] [ntext] NOT NULL,
	[Ten] [ntext] NULL,
	[SoLuong] [int] NULL,
	[GiaNiemYet] [int] NULL,
	[GiaBanLe] [int] NULL,
	[GiaThucTe] [int] NULL,
	[NgayCapNhat] [date] NULL,
	[HinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiHangHoa]    Script Date: 1/16/2019 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHangHoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [ntext] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GiaoDich] ON 

INSERT [dbo].[GiaoDich] ([Id], [SoHoaDon], [NgayGiaoDich], [TenKhachHang], [DiaChi], [Sdt], [MaHangHoa], [SoLuong], [DonGia], [Giam], [ThanhTien], [TenHangHoa]) VALUES (32, 0, CAST(N'2019-01-15' AS Date), N'', N'', N'', 11, 2, 190000, 10, 342000, N'Chuột logitech')
INSERT [dbo].[GiaoDich] ([Id], [SoHoaDon], [NgayGiaoDich], [TenKhachHang], [DiaChi], [Sdt], [MaHangHoa], [SoLuong], [DonGia], [Giam], [ThanhTien], [TenHangHoa]) VALUES (33, 0, CAST(N'2019-01-15' AS Date), N'', N'', N'', 12, 1, 480000, 5, 456000, N'Chuột logitech 11001')
INSERT [dbo].[GiaoDich] ([Id], [SoHoaDon], [NgayGiaoDich], [TenKhachHang], [DiaChi], [Sdt], [MaHangHoa], [SoLuong], [DonGia], [Giam], [ThanhTien], [TenHangHoa]) VALUES (34, 1, CAST(N'2019-01-16' AS Date), N'', N'', N'', 32, 1, 190000, 0, 190000, N'Chuột logitech')
SET IDENTITY_INSERT [dbo].[GiaoDich] OFF
SET IDENTITY_INSERT [dbo].[HangHoa] ON 

SET IDENTITY_INSERT [dbo].[HangHoa] OFF
SET IDENTITY_INSERT [dbo].[LoaiHangHoa] ON 

INSERT [dbo].[LoaiHangHoa] ([Id], [TenLoai]) VALUES (1, N'Chuột')
INSERT [dbo].[LoaiHangHoa] ([Id], [TenLoai]) VALUES (2, N'Bàn phím')
INSERT [dbo].[LoaiHangHoa] ([Id], [TenLoai]) VALUES (3, N'USB')
SET IDENTITY_INSERT [dbo].[LoaiHangHoa] OFF
/****** Object:  StoredProcedure [dbo].[Procedure_Lay10HangHoaBanChay]    Script Date: 1/16/2019 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Procedure_Lay10HangHoaBanChay]
	@param1 datetime,
	@param2 datetime
AS
	select top 10 MaHangHoa, (CONVERT(nvarchar(50),TenHangHoa)) TenHangHoa, sum(SoLuong) SoLuong
	from GiaoDich
	where NgayGiaoDich>=@param1 and NgayGiaoDich<=@param2
	group by MaHangHoa, CONVERT(nvarchar(50),TenHangHoa)
	order by SoLuong DESC
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Procedure_LayTatCaTenLoai]    Script Date: 1/16/2019 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Procedure_LayTatCaTenLoai]
AS
	SELECT TenLoai
	FROM LoaiHangHoa
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Procedure_Xoa1HangHoa]    Script Date: 1/16/2019 11:26:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Procedure_Xoa1HangHoa]
	@param1 int
AS
	DELETE FROM HangHoa
	WHERE Id=@param1
RETURN 0
GO
USE [master]
GO
